#map {
    height: 100%;
    width: 100%;
    background-color: #808080;
    float: left;
}

#loading {
    position: absolute;
    z-index: 3000;
    height: 100%;
    width: 100%;
    background: white;
}

#progressBox {
    width: 20%;
    margin-left: 40%;
    top: 45%;
    height: 15px;
    position: absolute;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
}

#progressBg {
    width: 100%;
    height: 15px;
    background-color: #9c9c9c;
    color: white;
    border-radius: inherit;
    border-width: 0px;
}

#progressBar {
    width: 0%;
    height: 15px;
    background-color: #00ccff;
    color: white;
    border-radius: inherit;
    border-width: 0px;
}

#sidebar {
    height: 100%;
    right: 0;
    position: absolute;
    background-color: white;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2000;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 1.35;
}

#leaflet-refresh-button {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
    padding: 2px 8px;
    background-color: white;
    border-radius: 1px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.7;
    text-align: center;
    z-index: 500;
}

#leaflet-refresh-button:hover {
    opacity: 1;
    cursor: pointer;
}

.recenter-icon {
    background-image: url(https://raw.githubusercontent.com/jagingrich/samo_website/main/Data/mapIcons/map-Recenter.png);
    background-size: 26px 26px;
}

.leaflet-control-layers-scrollbar {
    scroll-behavior: smooth;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.85;
}

#dropdown {
    width: 100%;
    top: 10px;
    position: absolute;
    font: 14px/16px Arial, Helvetica, sans-serif;
    z-index: 2600;
}

#dropdown-contents {
    position: absolute;
    width: 60%;
    left: 54px;
    overflow: hidden;
    height: 30px;
    padding: 4px 2px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.7;
    text-align: center;
    z-index: 2200;
    font-size: 16px;
    font-family: inherit;
}

#dropdown-contents:hover {
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 749px) {
    #sidebar {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    #dropdown {
        z-index: 2600;
    }

    #dropdown-contents {
        left: 20px;
        z-index: 2200;
    }
    #sidebar-content {
        padding-top: 50px;
    }
}