#map {
    height: 100%;
}

#leaflet-refresh-button {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
    padding: 2px 8px;
    background-color: white;
    border-radius: 1px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.7;
    text-align: center;
    z-index: 500;
}

    #leaflet-refresh-button:hover {
        opacity: 1;
        cursor: pointer;
    }

.leaflet-control-layers-scrollbar {
    scroll-behavior: smooth;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
}

    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.85;
    }

#dropdown {
    width: 100%;
    top: 10px;
    position: absolute;
}

#dropdown-contents {
    position: absolute;
    width: 20%;
    overflow: hidden;
    height: auto;
    padding: 4px 2px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.7;
    text-align: center;
    z-index: 400;
    font-size: 16px;
    font-family: inherit;
}

@media (max-width: 991px) {
    #dropdown-contents {
        left: 10%;
        width: 15%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #dropdown-contents {
        left: 10%;
    }
}

@media (min-width: 1200px) and (max-width: 1349px) {
    #dropdown-contents {
        left: 12.5%;
        width: 25%;
    }
}

@media (min-width: 1350px) {
    #dropdown-contents {
        left: 15%;
        width: 25%;
    }
}

#dropdown-contents:hover {
    opacity: 1;
    cursor: pointer;
}

.leaflet-sidebar {
    position: absolute;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2000;
}

    .leaflet-sidebar.right {
        right: -600px;
        transition: right 0.5s, width 0.5s;
        padding-left: 0;
    }

        .leaflet-sidebar.right.visible {
            right: 0;
        }

    .leaflet-sidebar > .leaflet-control {
        height: 100%;
        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 8px 24px;
        font-size: 1.1em;
        background: white;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }

.leaflet-touch .leaflet-sidebar > .leaflet-control {
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

@media (max-width: 767px) {
    .leaflet-sidebar {
        width: 100%;
        padding: 0;
    }

        .leaflet-sidebar.right.visible ~ .leaflet-right {
            right: 100%;
        }

        .leaflet-sidebar.right {
            right: -100%;
        }

            .leaflet-sidebar.right.visible {
                right: 0;
            }

        .leaflet-sidebar > .leaflet-control {
            box-shadow: none;
            -webkit-border-radius: 0;
            border-radius: 0;
        }

    .leaflet-touch .leaflet-sidebar > .leaflet-control {
        border: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .leaflet-sidebar {
        width: 405px;
    }

        .leaflet-sidebar.right.visible ~ .leaflet-right {
            right: 405px;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar {
        width: 490px;
    }

        .leaflet-sidebar.right.visible ~ .leaflet-right {
            right: 490px;
        }
}

@media (min-width: 1200px) and (max-width: 1349px) {
    .leaflet-sidebar {
        width: 560px;
    }

        .leaflet-sidebar.right.visible ~ .leaflet-right {
            right: 560px;
        }
}

@media (min-width: 1350px) {
    .leaflet-sidebar {
        width: 600px;
    }

        .leaflet-sidebar.right.visible ~ .leaflet-right {
            right: 600px;
        }
}

.leaflet-sidebar .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 31px;
    height: 31px;
    color: #333;
    font-size: 25px;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 1000;
}

.leaflet-right {
    transition: right 0.5s;
}
